.message{
    width: 300px;
    
}
.author{
    font-size: 20px;
    color: grey;
    margin-bottom: 0px;
}
.text{
    border-radius: 5px;
    background-color: #afe0ffcd;
    color: black;
    font-size: 20px;
    padding: 5px;
}